{% extends 'base.html' %}
{% block body_block %}
    <header id="header1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 m-auto text-center">
            <h1>Our Team</h1>
            <p></p>
          </div>
        </div>
      </div>
      <!-- end of banner -->
    </header>
    <!-- end of header -->

    <!-- Team -->
    <section id="team" class="pb-5">
      <div class="container">
        <div class="col-md-6 m-auto text-center">
          <!-- <h1>Our Team</h1> -->
          <p><b>
          </p></b>

        </div>

        <div class="row">
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
              <div class="mainflip flip-0">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img
                          class="img-fluid"
                          src="https://media-exp1.licdn.com/dms/image/C4E03AQHzjbiXbcQr3A/profile-displayphoto-shrink_800_800/0/1633832675370?e=2147483647&v=beta&t=7gkb4YjrAeHMV0Zu9xjttQJ5b3Zc2NnnWhMO9DM1ToY"
                          alt="card image"
                        />
                      </p>
                      <h4 class="card-title">Div Patel</h4>
                      <p class="card-text">
                        Student ID-110059177

                      </p>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->

            <div class="col-xs-12 col-sm-6 col-md-4">
            <div
              class="image-flip"
              ontouchstart="this.classList.toggle('hover');"
            >
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img
                          class="img-fluid"
                          src="https://media-exp1.licdn.com/dms/image/C4E03AQGZ6sdrkgYZ9Q/profile-displayphoto-shrink_800_800/0/1592667411215?e=2147483647&v=beta&t=zMsTNusqYwu23pljHUwNk_zg-xAeihEQ-VWjbbmbTbM"
                          alt="card image"
                        />
                      </p>
                      <h4 class="card-title">Fayaz Karedia</h4>
                      <p class="card-text">
                        Student ID-110058231
                      </p>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- ./Team member -->

            <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div
              class="image-flip"
              ontouchstart="this.classList.toggle('hover');"
            >
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img
                          class="img-fluid"
                          src="https://media-exp1.licdn.com/dms/image/D5603AQGXO6HyJTjviA/profile-displayphoto-shrink_400_400/0/1642163614560?e=1654732800&v=beta&t=1WXlooNhsLVNr0QGbXfKbaDl1nJO-n3pHTMYBbu1cA8"
                          alt="card image"
                        />
                      </p>
                      <h4 class="card-title">Mohammed Muzammil Kamal  </h4>
                      <p class="card-text">
                        Student ID-110025905
                      </p>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
          </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
            <div
              class="image-flip"
              ontouchstart="this.classList.toggle('hover');"
            >
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img
                          class="img-fluid"
                          src="https://media-exp1.licdn.com/dms/image/D4E35AQGsGkS_btuDRQ/profile-framedphoto-shrink_400_400/0/1646868345566?e=1649145600&v=beta&t=Njj40trnpgIHOYFUY27YATXChv4ZLhqP75qJl5Tk8wA"
                          alt="card image"
                        />
                      </p>
                      <h4 class="card-title">Muzakkir Quadri Mohammed
                      </h4>
                      <p class="card-text">
                        Student ID-110059185
                      </p>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
               </div>
      </div>
    </section>
    <!-- Team -->

{% endblock %}